.daypilot-main { padding-top:10px;}
.daypilot-left { float: left; width: 160px; margin-bottom: 20px; }
.daypilot-right{ margin-left:160px; vertical-align:top;}

.NavigationMenu_1{ display:block;  padding:0px 10px; line-height:30px; background:#e4e4e4; color:#286779;}
.NavigationMenu_3{ background:#fff; border:#e17009 1px solid; border-bottom:none!important; color:#e17009;}
.pilot-tab{ border-bottom:#ccc 1px solid; height:33px; margin-bottom:20px; vertical-align:top;}
.pilot-tab a{ display:inline-block; height:33px; line-height:33px; float:left; padding:0px 10px; background:#e4e4e4; color:#286779;}

.pilot-tab a.pilot-tablink{background:#fff; border:#e17009 1px solid; border-bottom:none!important; color:#e17009;}
.toolbar { margin-bottom: 10px; }
.toolbar ul { list-style:none; margin: 0px; padding: 0px; width: auto; }
.toolbar ul li {  }
.toolbar ul li a { padding: 5px; text-decoration: none; color: #000;}
.toolbar ul li a:hover { background-color: #666; color: #fff; }
.toolbar .selected { background-color: #333; color: #fff; }